@{
    ViewData["Title"] = "Register Page";
}

@model Shopping.Models.RegisterUserModel


@using (Html.BeginForm(FormMethod.Post))
{
        

        @if (TempData["err"] != null)
        {
            <p style="color:red">@TempData["err"]</p>
        }

        <a>Username: @Html.EditorFor(m => m.username)</a><a style="color:red; font-weight:bold">@Html.ValidationMessageFor(m => m.username)</a>
        <br />
        <br />
        <a>Password: @Html.PasswordFor(m => m.password)</a><a style="color:red; font-weight:bold">@Html.ValidationMessageFor(m => m.password)</a>
        <br />
        <br />
        <a>Confirm Password: @Html.PasswordFor(m => m.confirmPassword)</a><a style="color:red; font-weight:bold">@Html.ValidationMessageFor(m => m.confirmPassword)</a>
        
        
        <br />
        <br />
        <input type="submit" value="Register" />
    
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>